<!DOCTYPE html>
<html>
<head>
  <title>Railsblocks::Common</title>
  <%= stylesheet_link_tag    "railsblocks/common/application", media: "all" %>
  <%= javascript_include_tag "railsblocks/common/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
